
    *{
        padding: 0;
        margin: 0 auto;
        border:  0;
    }
    body{
        background-color: azure;
        margin:  0 auto;
    }
    header{
        display: flex;
        background: black;
        color: white;
       
    }
    .header_container{
        width: 100%;
        min-height: 20px;
        text-align: center;
    }