/* Resource Links */
@import url('http://fonts.cdnfonts.com/css/kg-tribeca-stamp');
@import url('http://fonts.cdnfonts.com/css/tech-headlines');
@import url('http://fonts.cdnfonts.com/css/flink');
@import url('http://fonts.cdnfonts.com/css/n27');

/* Resouces Ends */

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--bg);
    margin: 0 auto;
    font-family: var(--primaryfont);
}
:root{
    --bg: #0F172A;
    --bg2: #1E293B;
    --btn: #171717;
    --btn2: #0C4A6E;
    --df: 'KG TRIBECA STAMP', sans-serif;
    --df2: 'Tech Headlines', sans-serif;
    --ss: 'Flink', sans-serif;
    --primaryfont: 'N27', sans-serif;
    --primarycolor: grey;
    --secondary: ;
}
header{
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg2);
}
.header_container{
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 20px;
}           